{{!< default}}
<div class="container content-container">
    <h1 class="page-header">About Us</h1>
    <p>
        Pikes Peak Vajra Vidya is an inclusive Buddhist sangha.  A sangha is a community of people interested in supporting each other in the
        understanding and practice of the teachings of the Buddha called the Dharma. Our motivation in this is the release from suffering and
        the discovery of genuine happiness not just for ourselves but for all other beings without exception.  Our main practice is the Awakened Heart
        of compassion and clarity, revealed to be our natural condition through walking the Buddha's path of ethical conduct, meditation and wisdom.
    </p>
    <p>
        We're a fairly diverse group of new and old Buddhists with various backgrounds and lineages.  Some of us belong to other sanghas as well, some
        have been solitary meditation practitioners, and some are just curious what this Buddhism stuff is all about. What brought us together in the
        Fall of 2013 were monthly teachings by the Tibetan Buddhist Khenpos of <a href="http://vajravidyaretreatcenter.com">Vajra Vidya Retreat Center</a>
        in Crestone, CO. From getting to know each other during these teaching events a mutual bond of love formed and we found we wanted to meet weekly
        to practice the Dharma together. Today we still have very popular monthly visits from our teachers and we
        still gather weekly for student-led meditation and Dharma discussion, following the instructions we have received. We're pretty informal, but
        in August 2014 we were visited by Khenchen Thrangu Rinpoche, one of the great living Buddhist masters from the 1000-year-old Karma Kagyu
        "Practice Lineage" of Tibet, and he consecrated our little shrine hall and accepted our group as one of his Dharma centers.  The teachings
        we receive come to us from a <a href="http://kagyuoffice.org/kagyu-lineage/the-golden-rosary/">direct lineage</a> going back to the Buddha,
        the Indian mahasiddas Tilopa and Naropa, and the enlightened masters of Tibet including Marpa, Milarepa, Gampopa and the Karmapas.
    </p>
    <p>
        We are quite lucky to have exceptional teachers. To learn more about them visit the <a href="/teachers">Teachers</a> page.
    </p>
    <p>
        All the teachings are free of charge at Pikes Peak Vajra Vidya, although donations to help support the monks and pay the rent and utilities
        are greatly appreciated.
    </p>
    <h2 class="page-header">When and Where we Meet</h2>
    <p>
        We meet every Saturday from 9:30 - 11:00am for meditation and Dharma discussion.  The meditation hall is located at 2525 W Pikes Peak Ave,
        Suite #B, right next door to Rocky Mountain Insight. For most people the easiest way to arrive is to take 26th St north from Highway 24 until
        it ends in a public parking lot.  Pikes Peak Vajra Vidya is at the east end of that lot.
    </p>
    <p>
        Usually teachings happen on the second Saturday of each month but this can vary depending on the travel and retreat schedules of the Khenpos.
        Keep an eye on this web site or send a message through our <a href="/contact">Contact</a> page and ask to receive weekly email announcements.
    </p>

</div>
