{{!< default}}
<div class="container content-container">
<h1 class="page-header">About Us</h1>
    <p>
        Pikes Peak Vajra Vidya is a Buddhist sangha in the Kagyu lineage of Tibetan Buddhism. We have weekly meditation
        practices and monthly teachings by the lamas of <a href="http://www.vajravidya.com" target="_blanks">Vajra Vidya Retreat Center</a> in Crestone, CO. Please read about our teachers
        on the <a href="/teachers">Teachers</a> page of this website. The lay coordinator for the sangha is David Beers,
        who can be reached with questions at dbeers@gmail.com. Please visit our <a href="/contact">Contact</a> page if you
        would like to be on the list for weekly emailings about our current activities.
    </p>
    <p><b>We meet for meditation every Saturday from 9:30 - 11:30am for meditation and Dharma discussion.</b>  The meditation hall is located at 2525 W Pikes Peak Ave,
        Suite #B, right next door to Rocky Mountain Insight. For most people the easiest way to arrive is to take 26th St north from Highway 24 until
        it ends in a public parking lot.  Pikes Peak Vajra Vidya is at the east end of that lot.
    </p>
    <div class="row">
        <div class="col-md-6 col-md-offset-3"><img src="/images/directions_to_ppvv.jpg" alt="Directions to Pikes Peak Vajra Vidya" class="img-responsive"/><br/></div>
    </div>
    <p>
        Usually teachings happen on the second Saturday of each month but this can vary depending on the travel and retreat schedules of the Khenpos.
    </p>
    <h2 class="page-header">How We Operate</h2>
    <p>
        All the teachings at Pikes Peak Vajra Vidya are free of charge, although donations to help support the monks and pay the rent and utilities
        are greatly appreciated.  Donations to the teachers and the sangha are tax-deductible. Checks can be made out to Pikes Peak Vajra Vidya.
    </p>
    <p>May all beings benefit! Sarva Mangalam!</p>
</div>
