{{!< default}}
<div class="container content-container">
    <h1 class="page-header">About Us</h1>
    <p>
        Pikes Peak Vajra Vidya is an inclusive Buddhist sangha.  A sangha is a community of people interested in supporting each other in the
        understanding and practice of the teachings of the Buddha, namely the three foundations of the Buddhadharma: ethics, meditation and wisdom.
        We share a basic motivation to uncover the basis of genuine happiness not just for ourselves but for all beings.  To engage
        this motivation our moment to moment practice is the Awakening Heart of compassion and original wakefulness. It's not easy, but if it
        sounds interesting to you, you are warmly invited to check us out.
    </p>
    <h2 class="page-header">A Little Background</h2>
    <p>
        We're a fairly diverse group of new and old Buddhists with various backgrounds and lineages.  Some of us belong to other sanghas as well, some
        have been solitary meditation practitioners, and some are just curious what this Buddhism stuff is all about. What brought us together in the
        Fall of 2013 were monthly teachings by the Tibetan Buddhist lamas of <a href="http://vajravidyaretreatcenter.com">Vajra Vidya Retreat Center</a>
        in Crestone, CO. From getting to know each other during these teaching events we found we kind of liked each other and wanted to meet weekly
        to practice the Dharma together. Today we still have very popular monthly visits from our teachers ("the Khenpos") and we
        still gather weekly for student-led meditation and Dharma discussion, following the instructions we have received.
    </p>
    <p>
        By disposition we're a pretty informal group, but we're deeply appreciative of the unusual opportunity we've been afforded.
        In August 2014 we were visited by Khenchen Thrangu Rinpoche, one of the great living Buddhist masters from the 1000-year-old Karma Kagyu
        "Practice Lineage" of Tibet, and he consecrated our little shrine hall and accepted our group as one of his Dharma centers.  The teachings
        we receive come to us from a <a href="http://kagyuoffice.org/kagyu-lineage/the-golden-rosary/">direct lineage</a> going back to the Buddha,
        the Indian mahasiddas Tilopa and Naropa, and the enlightened masters of Tibet including Marpa, Milarepa, Gampopa and the Karmapas.  Interestingly,
        these ancient practice instructions are surprisingly well adapted to meeting the challenges of modern life in the West.
    </p>
    <p>
        If you can't tell already, we feel quite lucky to have stumbled upon some exceptional teachers. To learn more about them visit the <a href="/teachers">Teachers</a> page.
    </p>
    <h2 class="page-header">When and Where we Meet</h2>
    <p>
        We meet every Saturday from 9:30 - 11:00am for meditation and Dharma discussion.  The meditation hall is located at 2525 W Pikes Peak Ave,
        Suite #B, right next door to Rocky Mountain Insight. For most people the easiest way to arrive is to take 26th St north from Highway 24 until
        it ends in a public parking lot.  Pikes Peak Vajra Vidya is at the east end of that lot.
    </p>
    <div class="row">
        <div class="col-md-6 col-md-offset-3"><img src="/images/directions_to_ppvv.jpg" alt="Directions to Pikes Peak Vajra Vidya" class="img-responsive"/><br/></div>
    </div>
    <p>
        Usually teachings happen on the second Saturday of each month but this can vary depending on the travel and retreat schedules of the Khenpos.
        Keep an eye on this web site or send a message through our <a href="/contact">Contact</a> page and ask to receive weekly email announcements.
    </p>
    <h2 class="page-header">How We Operate</h2>
    <p>
        All the teachings at Pikes Peak Vajra Vidya are free of charge, although donations to help support the monks and pay the rent and utilities
        are greatly appreciated.  Donations to the teachers are tax-deductible, but those to support the expenses of the sangha are not at this time, sorry.
    </p>
    <p>
        We aim to help and inspire each other as peers and colleagues.  If you have questions or need help we hope you will feel free to ask anyone, likewise
        that you will share sincerely without concern about credentials or doctrinal landmines.  The one writing this didn't go through "official channels" to get these
        remarks approved (at the moment at least there are none) but he hopes he has faithfully captured a little of the essential spirit of this sangha without
        distorting anything too badly.  If you would like to contribute something to this site--a correction, a teaching you have recorded or transcribed, a quote or reflection
        for the blog, or some pictures of the activities of the group or our teachers--please let him know: his name's David Beers and he can
        be reached at dbeers@gmail.com.
    </p>
    <p>May all beings benefit! Sarva Mangalam!</p>
</div>
