{{!< default}}
<div class="container content-container">
    <h1>Next teaching by Khenpo Jigme: Jan 10, 2015</h1>
    <h2 class="page-header">The Meaning of Taking Refuge</h2>
    <p>Khenpo Jigme will teach on Saturday January 10 from 9:30 - noon.</p>
    <p>Taking Refuge in the Three Jewels--Buddha, Dharma and Sangha--is how we enter the Buddhist Path.  And practically every
    sadhana begins with the taking of Refuge. But what does it really mean concerning our conduct and practice of meditation?</p>
    <p>For the foreseeable future, we hope to have Khenpos Lobzang and Jigme visiting to teach on the <b>second Saturday of each month</b>. Stay tuned
        here for possible adjustments to that schedule.</p>
    <hr/>
    <p>When we don't have a teaching, we meet every Saturday from 9:30 - 11:00am for Dharma practice and discussion.</p>
    <p>Our schedule for the next several weeks:</p>
    <ul>
        <li>Dec 13: Refuge and Bodhicitta ngondro practice</li>
        <li>Dec 20: Medicine Buddha sadhana -- a meditation and mantra practice for healing and removing obstacles</li>
        <li>Dec 27: HOLIDAY BREAK: Merry Christmas and Happy New Year!</li>
        <li>Jan 3: Chenrezig sadhana</li>
        <li><b>Jan 10: Khenpo Jigme teaching on Refuge</b></li>
        <li>Jan 17: Morning practice</li>
        <li>Jan 24: Refuge and Bodhicitta ngondro practice</li>
        <li>Jan 31: Medicine Buddha sadhana</li>
    </ul>
    <p>All gatherings of the Pikes Peak Vajra Vidya sangha happen at 2525 W Pikes Peak Ave, Suite B, next door to Rocky Mountain Insight.</p>

</div>
