{{!< default}}
<div class="container content-container">
    <h2>Next teaching by Khenpo Lobzang: to be announced (probably April 2015)</h2>
    <!--h2 class="page-header">The Meaning of Taking Refuge</h2-->
    <p>Khenpo Lobzang and Khenpo Jigme have been in India, but will return to Colorado soon.</p>
    <p>In general (with exceptions) we have Khenpos Lobzang and Jigme visiting to teach on the <b>second Saturday of each month</b>. Stay tuned
        here for possible adjustments to that schedule.</p>
    <hr/>
    <h4>When we don't have a teaching, we meet every Saturday from 9:30 - 11:30am for Dharma practice.</h4>
    <p>Our schedule for the next few weeks:</p>
    <ul>
        <li>Mar 21: Morning practice -- shamatha (calm abiding) and vipashyana (insight) meditation practice</li>
        <li>Mar 28: Chenrezig sadhana -- a meditation and mantra practice for arousing compassion</li>
        <li>Apr 4: Refuge and Bodhicitta ngondro practice -- foundational practice for Vajrayana Buddhists</li>
        <li>Apr 11: Medicine Buddha sadhana -- a meditation and mantra practice for healing and removing obstacles to awakening</li>
    </ul>
    <p>All gatherings of the Pikes Peak Vajra Vidya sangha happen at 2525 W Pikes Peak Ave, Suite B, next door to Rocky Mountain Insight.</p>

</div>
