{{!< default}}
<div class="container content-container">
    <h2>Next teaching by the Khenpos: to be announced.  Buddha Day teaching on May 30</h2>
    <!--h2 class="page-header">The Meaning of Taking Refuge</h2-->
    <p>Khenpo Lobzang has returned from India and gave us a teaching on Guru Yoga in April.</p>
    <p>In general (with exceptions) we have Khenpos Lobzang and Jigme visiting to teach on the <b>second Saturday of each month</b>. Stay tuned
        here for possible adjustments to that schedule.</p>
    <hr/>
    <h4>When we don't have a teaching, we meet every Saturday from 9:30 - 11:30am for Dharma practice.</h4>
    <p>Our schedule for the next few weeks:</p>
    <ul>
        <li>Apr 18: Medicine Buddha sadhana -- a meditation and mantra practice for healing and removing obstacles to awakening</li>
        <li>Apr 25: Morning practice -- shamatha (calm abiding) and vipashyana (insight) meditation practice</li>
        <li>May 2: Chenrezig sadhana -- a meditation and mantra practice for arousing compassion</li>
        <li>May 9: <b>No meeting:</b> Karmapa Teaching in Seattle</li>
        <li>May 16: Refuge and Bodhicitta ngondro practice -- foundational practice for Vajrayana Buddhists</li>
        <li>May 23: Medicine Buddha sadhana -- a meditation and mantra practice for healing and removing obstacles to awakening</li>
        <li>May 30: <b>Pikes Peak Area Buddha Day Celebration</b> -- More info soon. Khenpo Lobzang will be teaching.</li>
    </ul>
    <p>All gatherings of the Pikes Peak Vajra Vidya sangha happen at 2525 W Pikes Peak Ave, Suite B, next door to Rocky Mountain Insight.</p>

</div>
