{{!< default}}
<div class="container content-container">
    <h2>Practice and Teaching Calendar</h2>
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=3irpp3514k4lga9cingsg8htjk%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FDenver" style="border-width:0" width="1150" height="600" frameborder="0" scrolling="no"></iframe>
    <p>Except where indicated, all gatherings of the Pikes Peak Vajra Vidya sangha happen at 2525 W Pikes Peak Ave, Suite B, next door to Rocky Mountain Insight.</p>

</div>
