{{!< default}}
<div class="container content-container">
    <h1>Next teaching by Khenpo Lobzang: October 11, 2014</h1>
    <h2 class="page-header">Entering the Practice of Mahamudra</h2>
    <p>Khenpo Lobzang will teach on Saturday October 11 from 9:30 - 11:30am.</p>
    <p>He will be starting a new monthly teaching series on Mahamudra meditation, beginning with a teaching on Ngondro (the Mahamudra preliminaries) and
        continuing with teachings based on the mind instructions of Khenpo Gangshar. For more information, see the <a href="/blog">Sangha Blog</a></p>
    <p>For the foreseeable future, we hope to have Khenpos Lobzang and Jigme visiting to teach on the <b>second Saturday of each month</b>. Stay tuned
        here for possible adjustments to that schedule.</p>
    <h3>A proper calendar page coming soon!</h3>
    <p>We meet every Saturday from 9:30 - 11:00am for meditation and Dharma discussion.</p>
    <p>All gatherings of the Pikes Peak Vajra Vidya sangha happen at 2525 W Pikes Peak Ave, Suite B, next door to Rocky Mountain Insight.</p>

</div>
