{{!< default}}
<div class="container content-container">
    <h2>Fall 2015 Schedule</h2>
    <!--h2 class="page-header">The Meaning of Taking Refuge</h2-->
    <p>In October we are very fortunate to have Tulku Damcho Rinpoche giving the following Dharma teachings in Colorado.</p>
    <ul>
        <li>Oct 3-4: Gampopa's pithy advice to Dharma practitioners called <i>Precious Garland of the Supreme Path</i>.
            Sunday afternoon he will confer an empowerment for Kunchok Chidu, a mantra practice devoted to
            Padmasambhava. Registration required, full details available <a href="http://www.aplacetosit.org/?page_id=127">here</a>.
        </li>
        <li>Oct 9-10 at Vajra Vidya Retreat Center in Crestone: a teaching on Gyalwa Gyamtso (Red Chenrezig).
            Registration required, full details available <a href="http://hosted.verticalresponse.com/256998/5085fa7d37/1357000172/daded07680/">here</a>.
        </li>
    </ul>
    <p>In general (with exceptions) we have Khenpos Lobzang and Jigme visiting to teach on the <b>second Saturday of each month</b>. Stay tuned
        here for possible adjustments to that schedule.</p>
    <hr/>
    <h4>When we don't have a teaching, we meet every Saturday from 9:30 - 11:30am for Dharma practice.</h4>
    <p>Our schedule for September/October 2015:</p>
    <ul>
        <li>Sep 5: Medicine Buddha meditation</li>
        <li><b>Sep 12: Khenpos Jigme and Lobzang teaching</b>. Topic: Mahamudra Aspiration Prayers</li>
        <li>Sep 19: Shamatha/Vipashyana meditation</li>
        <li>Sep 26: Chenrezig meditation</li>
        <li>Sep 27: Teaching in Denver on Buddha Nature, the Unchanging Basis of Mahamudra by Lama Dudjom Dorje (in English)</li>
        <li><b>Oct 3-4 teaching in Boulder: Venerable Tulku Damcho Rinpoche</b> will teach on The Precious Garland of the Supreme Path.
            No sangha meeting at PPVV.</li>
        <li><b>Oct 9-10 teaching in Crestone: Tulku Damcho Rinpoche</b> Gyalwa Gyamtso (Red Chenrezig). Sangha meeting TBD.</li>
        <li><b>Oct 11 Tulku Damcho will visit PPVV for lunch and a short teaching.</b> More info to come.</li>
        <li>Oct 17: Shamatha/Vipashyana meditation</li>
        <li>Oct 25: Medicine Buddha meditation</li>
    </ul>
    <p><b>Coming in November:</b> <a href="http://www.shambhalamountain.org/program/mb1115-medicine-buddha-retreat-for-healing/">Khenpo Lobzang and Nashalla Nyinda will teach on Medicine Buddha practice</a>
        at Shambhala Mountain Center. The date is Nov 13-15 and prompt registration is required.</p>
    <p>Except where indicated, all gatherings of the Pikes Peak Vajra Vidya sangha happen at 2525 W Pikes Peak Ave, Suite B, next door to Rocky Mountain Insight.</p>

</div>
