{{!< default}}
<div class="container content-container">
    <h1>Next teaching by Khenpo Jigme: Dec 6, 2014</h1>
    <h2 class="page-header">The Ngöndro Practices: Refuge and Bodhicitta, and Vajrasattva</h2>
    <p>Khenpo Jigme will teach on Saturday December 6 from 9:30 - noon.</p>
    <p>This teaching will follow on the previous two teachings on this topic to deepen our understanding and ensure
    we know how to do these fundamental practices properly.</p>
    <p>For the foreseeable future, we hope to have Khenpos Lobzang and Jigme visiting to teach on the <b>second Saturday of each month</b>. Stay tuned
        here for possible adjustments to that schedule.</p>
    <hr/>
    <p>When we don't have a teaching, we meet every Saturday from 9:30 - 11:00am for Dharma practice and discussion.</p>
    <p>Our schedule for the next several weeks:</p>
    <ul>
        <li>Nov 15: <a href="/dharma">Chenrezig sadhana</a> -- a meditation and mantra practice for developing compassion and wisdom</li>
        <li>Nov 22: Morning Practice -- shamatha/vipassana meditation</li>
        <li>Nov 29: HOLIDAY BREAK</li>
        <li>Dec 6: Khenpo Jigme continues the teachings on Refuge and Bodhicitta and Vajrasattva</li>
        <li>Dec 13: Refuge and Bodhicitta</li>
        <li>Dec 20: Medicine Buddha sadhana -- a meditation and mantra practice for healing and removing obstacles</li>
        <li>Dec 27: HOLIDAY BREAK: Merry Christmas and Happy New Year!</li>
    </ul>
    <p>All gatherings of the Pikes Peak Vajra Vidya sangha happen at 2525 W Pikes Peak Ave, Suite B, next door to Rocky Mountain Insight.</p>

</div>
