{{!< default}}
<div class="container">
    <h1>Dharma</h1>
    <div class="section">
        <h4>Chenrezig Sadhana with Tulku Damcho, Khenpo Jigme and Lama Karma Choephel</h4>
        <p>This sadhana is called Droden Kachabma (translated variously as "Filling Space to Benefit Beings" or "Benefiting Beings as Limitless as Space"). It was composed by the great mahasiddha Thangtong Gyalpo and bears the blessing of his speech. The melody was composed by H.H. Karmapa Orgyen Thrinley Dorje.</p>
        <p>The aspiration prayer at the end is the Dewachen prayer (unfortunately cut short in this recording). This is an aspiration to be reborn and quickly attain enlightenment in the pure realm of Buddha Amitabha.</p>
        <div class="media-options">
            <div class="media-options-row">
                <label>Listen:</label>
                <div>
                    <audio controls>
                        <source src="/media/chenrezig_new_melody_puja.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="media-options-row">
                <label>Download:</label>
                <div><a href="/media/chenrezig_new_melody_puja.mp3" download>Click to download MP3 file</a></div>
            </div>
        </div>
    </div>
</div>
