{{!< default}}
<div class="container content-container">
    <h2>Dharma Resources</h2>
    <p>A selection of teachings and supports for meditation practice and daily life</p>
    <div class="section">
        <h4>Chenrezig Sadhana with Tulku Damcho, Khenpo Jigme and Lama Karma Choephel</h4>
        <p>This Chenrezig (Avalokiteshvara) sadhana from the Vajra Vidya Practice Manual is called Droden Kachabma (translated variously as "Filling Space to Benefit Beings" or "Benefiting Beings as Limitless as Space").  Chenrezig is the lord of compassion, and as the name suggests it is a practice for expanding our compassion. It was composed in the 15th century by the great mahasiddha Thangtong Gyalpo and bears the blessing of his speech. The melody was composed recently by H.H. Karmapa Orgyen Thrinley Dorje.</p>
        <p>The aspiration prayer at the end is the Dewachen prayer (unfortunately cut short in this recording). This is an aspiration to be reborn and quickly awaken to buddhahood in the pure realm of Buddha Amitabha.</p>
        <div class="media-options">
            <div class="row media-options-row">
                <div class="col-md-4"><label>Listen:</label></div>
                <div class="col-md-8">
                    <audio controls>
                        <source src="https://s3-us-west-2.amazonaws.com/ppvvweb/media/chenrezig_new_melody_puja.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="row media-options-row">
                <div class="col-md-4"><label>Download:</label></div>
                <div class="col-md-8"><a href="https://s3-us-west-2.amazonaws.com/ppvvweb/media/chenrezig_new_melody_puja.mp3" download>Click to download MP3 file</a></div>
            </div>
        </div>
    </div>
</div>
