{{!< default}}
<div class="container content-container">
    <h1 class="page-header">Dharma Resources</h1>
    <p>A selection of teachings and supports for meditation practice and daily life</p>
    <a name="eight_verses_mind_training"></a>
    <div class="section">
        <h4>Khenpo Jigme: Eight Verses on Mind Training, by Geshe Langri Thangpa</h4>
        <p>December 19, 2015 teaching at Pikes Peak Vajra Vidya</p>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img src="/images/khenpo_jigme_smiling.jpg" alt="Khenpo Jigme laughing" class="img-responsive"/>
                <div class="media-options">
                    <div class="row media-options-row">
                        <div class="col-md-2"><label>Listen:</label></div>
                        <div class="col-md-10">
                            <audio controls>
                                <source src="https://s3-us-west-2.amazonaws.com/ppvvweb/media/Khenpo+Jigme+Eight+Verses+on+Mind+Training.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                    </div>
                    <div class="row media-options-row">
                        <div class="col-md-2"><label>Download:</label></div>
                        <div class="col-md-10"><a href="https://s3-us-west-2.amazonaws.com/ppvvweb/media/Khenpo+Jigme+Eight+Verses+on+Mind+Training.mp3" download>Click to download MP3 file</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a name="precious_garland_of_supreme_path"></a>
    <div class="section">
        <h4>Tulku Damcho Rinpoche teaches Gampopa's Precious Garland of the Supreme Path</h4>
        <p>October 3-4, 2015 teaching in Boulder</p>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img src="/images/tulku_damcho_at_ppvv.jpg" alt="Tulku Damcho Rinpoche" class="img-responsive"/>
                <div class="media-options">
                    <div class="row media-options-row">
                        <div class="col-md-2"><label>Listen:</label></div>
                        <div class="col-md-10">
                            <label>Part 1</label>&nbsp;
                            <audio controls>
                                <source src="https://s3-us-west-2.amazonaws.com/ppvvweb/media/Gampopa_Precious_Garland_1.mp3" type="audio/mpeg">
                            </audio><br/><br/>
                            <label>Part 2</label>&nbsp;
                            <audio controls>
                                <source src="https://s3-us-west-2.amazonaws.com/ppvvweb/media/Gampopa_Precious_Garland_2.mp3" type="audio/mpeg">
                            </audio><br/><br/>
                            <label>Part 3</label>&nbsp;
                            <audio controls>
                                <source src="https://s3-us-west-2.amazonaws.com/ppvvweb/media/Gampopa_Precious_Garland_3.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                    </div>
                    <div class="row media-options-row">
                        <div class="col-md-2"><label>Download:</label></div>
                        <div class="col-md-10">
                            <a href="https://s3-us-west-2.amazonaws.com/ppvvweb/media/Gampopa_Precious_Garland_1.mp3" download>Part 1</a>&nbsp;&nbsp;
                            <a href="https://s3-us-west-2.amazonaws.com/ppvvweb/media/Gampopa_Precious_Garland_2.mp3" download>Part 2</a>&nbsp;&nbsp;
                            <a href="https://s3-us-west-2.amazonaws.com/ppvvweb/media/Gampopa_Precious_Garland_3.mp3" download>Part 3</a>&nbsp;&nbsp;(MP3 format)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a name="khenpo_jigme_on_ngondro"></a>
    <div class="section">
        <h4>Khenpo Jigme teaching on the practice of Ngondro</h4>
        <p>December 6, 2014 teaching at Pikes Peak Vajra Vidya</p>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img src="/images/khenpo_jigme_smiling.jpg" alt="Khenpo Jigme laughing" class="img-responsive"/>
                <div class="media-options">
                    <div class="row media-options-row">
                        <div class="col-md-2"><label>Listen:</label></div>
                        <div class="col-md-10">
                            <audio controls>
                                <source src="https://s3-us-west-2.amazonaws.com/ppvvweb/media/Khenpo%20Jigme%20Ngondro%2012-06-14.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                    </div>
                    <div class="row media-options-row">
                        <div class="col-md-2"><label>Download:</label></div>
                        <div class="col-md-10"><a href="https://s3-us-west-2.amazonaws.com/ppvvweb/media/Khenpo%20Jigme%20Ngondro%2012-06-14.mp3" download>Click to download MP3 file</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a name="chenrezig_sadhana"></a>
    <div class="section">
        <h4>Chenrezig Sadhana with Tulku Damcho, Khenpo Jigme and Lama Karma Choephel</h4>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img src="/images/tulku-damcho_khenpo-jigme_lama-karma-choephel.jpg" alt="Tulku Damcho, Khenpo Jigme and Lama Karma Choephel" class="img-responsive"/>
                <div class="media-options">
                    <div class="row media-options-row">
                        <div class="col-md-2"><label>Listen:</label></div>
                        <div class="col-md-10">
                            <audio controls>
                                <source src="https://s3-us-west-2.amazonaws.com/ppvvweb/media/chenrezig_new_melody_puja.mp3" type="audio/mpeg">
                            </audio>
                        </div>
                    </div>
                    <div class="row media-options-row">
                        <div class="col-md-2"><label>Download:</label></div>
                        <div class="col-md-10"><a href="https://s3-us-west-2.amazonaws.com/ppvvweb/media/chenrezig_new_melody_puja.mp3" download>Click to download MP3 file</a></div>
                    </div>
                </div>
            </div>
        </div>
        <p>This Chenrezig (Avalokiteshvara) sadhana from the Vajra Vidya Practice Manual is called Droden Kachabma (translated variously as "Filling Space to Benefit Beings" or "Benefiting Beings as Limitless as Space").  Chenrezig is the lord of compassion, and as the name suggests it is a practice for expanding our compassion. It was composed in the 15th century by the great mahasiddha Thangtong Gyalpo and bears the blessing of his speech. The melody was composed recently by H.H. Karmapa Orgyen Thrinley Dorje.</p>
        <p>The aspiration prayer at the end is the Dewachen prayer (unfortunately cut short in this recording). This is an aspiration to be reborn and quickly awaken to buddhahood in the pure realm of Buddha Amitabha.</p>
    </div>
</div>
