{{!< default}}
<div class="container content-container">
<h1 class="page-header">Your Help Needed</h1>
    <p class="big-text"><span class="inline-header-text">Our teachers Khenpo Jigme and Khenpo Lobzang have a small problem.</span>
        They travel many thousands of miles every year to spread the precious Buddhadharma and to help us with our practice.
        When they were in India, hundreds of students came to them for the teachings, but here in America they are traveling to many small centers in Colorado, New Mexico, Arizona and California.
        At times, teachings have been difficult to arrange because there is only one vehicle.
        Since the car can’t be left at the airport when one of the lamas travels by air without leaving the other stranded, exhausting and wasteful round-trips between the retreat center in Southern Colorado and Denver are frequent.
    </p>
    <p class="big-text"><span class="inline-header-text">Here's how we will help:</span>
        As students of the Khenpos in the Western US, we want to <strong><u>raise $10,000 to acquire a reliable used car</u></strong>.
        A vehicle that is not too expensive to operate and maintain, with not too many miles on it, and with all-wheel-drive.
        If one or both of the Khenpos have been to your area to teach and you have felt some benefit, we ask that you consider even a small contribution to support their continued teaching in the future.
        Donations are tax-deductible.
    </p>

    <p class="big-text"><span class="inline-header-text">How to make it happen:</span>
        Using the secure Donate button below and your credit card, you may set up a recurring monthly donation until we meet our goal, or a lump sum.
        If you prefer to pay by check to eliminate a 2.9% credit card processing fee, please make the check out to Pikes Peak Vajra Vidya. Checks may be mailed to David Beers, PO Box 487, Manitou Springs, CO 80829.
    </p>
    <br/>
    <div style="text-align:center">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCrNoeHVv0sCIkZ2FTHK5cPiPQ3fPLxKHDqwAIpuI+L0Elo/viYpIl9moZaZFoSbL0GeXRgyN4VeBjgr5p2gOLwvfn89vZJRe+GSOc3BPEp4QCzf+YK3bsm/zxE2eAkSjNZsVLBWRbs18QdavTXMe89rhiTWUz/N7tMugNnRi4v+TELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIwpo2aMjlMgKAgai4d5aqmOnUJdoH+3n5DlGBu94jR38GbZCsFm0MZkbTkzfjsBCDmbtNomO1bk5I1/Bb76lDxrR6ITHWypS12JPWZxiFLWC/3DOw+EaZY3FVNVYHzGcc5RC6KDyAG9kBqthNabB9oTFsC/rtbmQdPLftJzTNmyLNiXLiDnu0+9iJy3ED+6kgizFHRYcAqDOoRzkS+3ah7eHhZo+LvaRHi4EGXMxVceJzZJagggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNTEyMjQyMzU2MjNaMCMGCSqGSIb3DQEJBDEWBBQgsh4pPocuLiX/M3Fh0yZn9DWTgzANBgkqhkiG9w0BAQEFAASBgDQqkRBIHlHVBhAbxzOEgs5y2xFDaGZR2vJw04Ekoz8y+Ni5jKcjvLZ9cbzVdWJIsJoyVsv+BboiJE/uvkHKzYcxXHyMTigwXxkeUAJDOdarOWxdVBAKy5z+alYzy2FdFBtgGVq4g4/hVGI29cuBHVsTC1qfpMIt4OacYLrMC+1Q-----END PKCS7-----
">
        <input type="image" src="/images/paypal_button.png" border="0" width="300" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    </div>
    <br/>

    <p class="big-text" style="text-align: center"><span class="inline-header-text">Dedicate the merit!</span></p>
    <br/>

    <p class="big-text" style="text-align: center"><span class="inline-header-text">Progress toward our Goal:</span></p>

    <div style="text-align:center">
        <meter value="4310" min="0" max="10000" style="width:500px;height:50px;">$4310</meter>
    </div>
</div>
