{{!< default}}
<div class="container">
	<div class="jumbotron stupa-background">
        <h1 class="header-font" align="center">&nbsp;Pikes&nbsp;Peak &nbsp; &nbsp; &nbsp; Vajra&nbsp;Vidya</h1>
        <h3 class="subheader-font" align="center">A center for the study and practice of Tibetan Buddhism in Colorado Springs</h3>
        <div class="homepage-content">
            <div class="row column-row">
                <div class="col-md-4">
                    <p>Dedicated to awakening compassion and wisdom in our lives and the world</p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p>Under the spiritual direction of Khenchen Thrangu Rinpoche<br/>&nbsp;&nbsp;<a href="/teachers">> About our teachers and tradition</a></p>
                </div>
            </div>
            <div id="footer-row" class="row">
                <div class="col-md-12">
                    <p align="center">
                        We meet every Saturday from 9:30-11:00am for meditation practice and Dharma discussion and monthly for a teaching by one of the lamas from Vajra Vidya Retreat Center. &nbsp;&nbsp;&nbsp;<a href="/calendar">> Our calendar</a><br/>
                        We are located in Old Colorado City at 2525 W Pikes Peak Ave, Suite B. &nbsp;&nbsp;&nbsp;<a href="/about">> More about us</a>
                    </p>
                </div>
            </div>
        </div>
	</div>
</div>
