{{!< default}}
<div class="container">
	<div class="jumbotron stupa-background">
        <h1 class="header-font" align="center">Pikes&nbsp;Peak &nbsp; &nbsp; &nbsp; Vajra&nbsp;Vidya</h1>
        <h3 class="subheader-font" align="center">A center for the study and practice of Tibetan Buddhism in Colorado Springs</h3>
        <div class="homepage-content">
            <div class="row first-content-row pyramid-top">
                <div class="col-md-4">
                    <div class="left-col">
                        <p>Dedicated to awakening compassion and wisdom in our lives and the world</p>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="right-col">
                        <p>Group meditation and discussion every Saturday from 9:30-11:00am</p>
                    </div>
                </div>
            </div>
            <div class="row pyramid-middle">
                <div class="col-md-4">
                    <div class="left-col">
                        <p>Teachings in the Karma Kagyu tradition by the lamas of Vajra Vidya Retreat Center</p>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="right-col">
                        <p>Monthly dharma talks and guidance for meditation and daily-life practice</p>
                    </div>
                </div>
            </div>
            <div class="row pyramid-bottom">
                <div class="col-md-4">
                    <div class="left-col">
                        <p>Under the spiritual direction of Khenchen Thrangu Rinpoche</p>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="right-col">
                        <p>2525 W Pikes Peak Ave Suite B, Colorado Springs, CO</p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
