{{!< default}}
<div class="container content-container">
    <h1 class="page-header">Our Teachers and Tradition</h1>
    <div class="row">
        <div class="col-md-4 img-col">
            <img alt="Khenchen Thrangu Rinpoche" src="/images/thrangu_rinpoche.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-8">
            <h3 class="page-header">The Venerable Khenchen Thrangu Rinpoche</h3>
            <p>Khenchen Thrangu Rinpoche is the spiritual director of Pikes Peak Vajra Vidya.</p>
            <p>Thrangu Rinpoche was born in Kham, Tibet, in 1933. At the age of five, he was formally recognized by His Holiness the Sixteenth Karmapa and Tai Situpa as the ninth incarnation of the great Thrangu tulku. He entered Thrangu monastery, where, from the ages of seven to sixteen, he studied reading, writing, grammar, poetry, and astrology, memorized ritual texts, and completed two preliminary retreats. At sixteen, under the direction of Khenpo Lodro Rabsel, he began the study of the three vehicles of Buddhism while in retreat. At twenty-three he received full ordination from the Karmapa.</p>
            <p>Because of the Chinese military takeover of Tibet, Thrangu Rinpoche, then twenty-seven, was forced to flee to India in 1959. He was called to Rumtek monastery in Sikkim, where the Karmapa has his seat in exile. Because of his great scholarship and unending diligence, he was given the task of preserving the teachings of the Kagyu lineage; the lineage of Marpa, Milarepa, and Gampopa, so that one thousand years of profound Buddhist teachings would not be lost.</p>
            <p>He continued his studies in exile, and at the age of thirty-five he took the geshe examination before 1500 monks at Buxador monastic refugee camp in Bengal and was awarded the degree of Geshe Lharampa. Upon his return to Rumtek, he was awarded the highest Khenchen degree. Because many of the Buddhist texts in Tibet were destroyed, Thrangu Rinpoche helped in beginning the recovery of these texts from Tibetan monasteries outside of Tibet. He was named Abbot of Rumtek monastery and the Nalanda Institute for Higher Buddhist Studies at Rumtek. Thrangu Rinpoche, along with Khenpo Tsultrim Gyamtso Rinpoche, was one of the principal teachers at the Institute, training all the younger tulkus of the lineage. He was also the personal tutor of the four principal Karma Kagyu tulkus: Shamar Rinpoche, Situ Rinpoche, Jamgon Kongtrul Rinpoche, and Gyaltsab Rinpoche.</p>
            <p>Because of his vast knowledge of the Dharma and his skill as a teacher, he was appointed by His Holiness the Dalai Lama to be the personal tutor for His Holiness the Seventeenth Karmapa.</p>
            <p>Rinpoche is especially known for making complex teachings accessible to Western students. Thrangu Rinpoche is a recognized master of Mahamudra meditation.  He has taught in 25 countries, authored over 40 books on Buddhism in English, founded monasteries in India and Nepal for male and female monastics, a school for the education of lay children in Nepal, a medical clinic in Nepal, and retreat centers in Nepal and Colorado (<a href="http://vajravidya.com">Vajra Vidya Retreat Center</a>). In addition to Pikes Peak Vajra Vidya and <a href="http://thrangumeditationcenter.org">Thrangu Meditation Center</a> in Denver, he has dharma centers in Hong Kong, Taiwan, Germany, England, Canada, California, Texas, Massachusetts, Rhode Island, Florida and Maine.</p>
            <p>For more on Thrangu Rinpoche's life, activities and teachings, as well as his teaching schedule, please visit <a href="http://www.rinpoche.com">his website</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="img-col">
                <img alt="Khenpo Lobzang Tenzin" src="/images/khenpo_lobzang_tenzin.jpg" class="img-responsive"/>
            </div>
            <div class="">
                <h3 class="page-header">Khenpo Lobzang Tenzin</h3>
                <p>Ven. Khenpo Lobzang Tenzin is a highly-regarded teacher under Kyabje Thrangu Rinpoche in the Kagyu lineage of Tibetan Buddhism. Acclaimed for his broad understanding and beloved for his cheerful manner and kindness, he unites a natural affinity for teaching with sound expertise in Tibetan Buddhist philosophy and practice.</p>

                <p>Khenpo Lobzang was born in 1969 in Bhutan, a rich heritage of traditional Buddhist scholarship already flowing in his veins. His father, Kelzang Tenzin, was a Lharampa Geshe from Ganden Monastery in Tibet, and had a strong influence on his son. From a very young age, Khenpo-la yearned to live a monastic life. Though sending an only son to a monastery is highly unusual in Himalayan cultures, his family could not ignore his powerful connection to the Dharma, and readily consented to his wish. He has trained throughout his life in the rigorous monastic disciplines of study, language, scripture, reasoning, music, and arts.</p>

                <p><strong>Early life</strong></p>
                <p>At age nine, Khenpo-la joined Bhutan Thrangu monastery, in the Karma Kagyu lineage of the Karmapas. He commenced his training there under the ninth Traleg Kyabgon Rinpoche and Khen Rinpoche Konchok Ngedon, studying Tibetan grammar, language, calligraphy, and basic scriptural commentaries such as the Thirty-Seven Practices of Bodhisattvas, Nagarjuna's and Letter to a Friend.</p>

                <p>In 1981, Khenpo-la moved with Khen Rinpoche to Thrangu Tashi Choling monastery in Nepal, where he continued his studies of foundational texts such as Way of the Bodhisattvas and the Jewel Ornament of Liberation, as well as training in ritual practices. He received full ordination from Kyabje Thrangu Rinpoche in 1985. His agile and eager mind thrived in multiple branches of learning. In addition to philosophy, he also demonstrated innate talent in torma-making, chant, and music, all of which he studied under Drupon Lama Sonam Tsering. Moreover, his sterling discipline, resolute commitment, and voracious appetite for knowledge earned him recognition as a budding scholar, giving him unusual access to instruction not only in the Kagyu scriptures, but all four lineages of Tibetan Buddhism. This receptivity to the full range of the Buddha's teachings, a hallmark of the Rime, or nonsectarian, approach, characterizes Khenpo's teaching style to this day.</p>

                <p><strong>Formal Studies</strong></p>
                <p>By the age of 22, Khenpo Lobzang had already studied the Longchen Nyingtig tradition and the Drikung Kagyu Five Points of Mahamudra with Khen Rinpoche Konchok Ngedon. He also studied central texts of Madhyamaka philosophy, such as the Adornment of the Middle Way and Buddha Nature, the Highest Continuum with Kyabje Thrangu Rinpoche, and Entering the Middle Way with the Sakya master Khenpo Kunga Wangchuk. He received the full cycle of teachings of Ju Mipham Rinpoche from His Holiness Dilgo Khyentse Rinpoche and Rabjam Rinpoche, with an emphasis of guru yoga practice. Also in the Nyingma lineage, he studied logic and reasoning with Khenpo Chokyi Goche. Under the Gelug masters Geshe Yeshe Taye, Geshe Lhundrup, Geshe Yeshe Tabkye, and Gen Atso Rinpoche, he studied valid cognition and rhetoric.</p>

                <p>By the time he commenced formal studies in 1990 at Vajra Vidya Institute, Kyabje Thrangu Rinpoche's monastic college in Namo Buddha, Nepal, his learning was so advanced that he, together with Zuri Rinpoche, was immediately appointed teaching assistant to his class, a coveted position which he held throughout the five year program. He completed his studies with high distinction.</p>

                <p>After graduating from the monastic college in 1995, Khenpo Lobzang completed the Kagyu Mahamudra Ngöndro retreat under Drupon Sherab Tendar at Thangru Rinpoche's Namo Buddha retreat center in Nepal. Thereafter  he served as Head Umze (Chant Leader) for one year at Thrangu Tashi Choling in Boudhanath, Nepal, during which time he became proficient in the central tantric sadhanas of the lineage. In 1996, at Namo Buddha, Kyabje Thrangu Rinpoche officially invested him with the title of Khenpo.</p>

                <p>Never content to rest on his laurels, Khenpo-la then pursued advanced studies of logic and seminal tantric scriptures, including receiving the full transmission of the Three Inner Methodical Tantras from Kyabje Thrangu Rinpoche. He also studied under Kyabje Bokar Rinpoche, Kyabje Thrangu Rinpoche, Kyabje Khenpo Tsultrim Gyamtso Rinpoche, as well as Sakya Khenchen Apey Rinpoche, alongside a full load of teaching at Thrangu Rinpoche's monastic colleges in India and Nepal.</p>

                <p><strong>Teaching and Administration</strong></p>
                <p>In 2004, Kyabje Thrangu Rinpoche appointed Khenpo Lobzang Principal Professor and Director of the Vajra Vidya Institute monastic colleges in Nepal and India. He held the position for nearly ten years, an unprecedented tenure. His service was notable for his selflessness, skill, and sincerity.</p>

                <p>A teacher by nature, he delighted in instructing students in the monastic colleges, even alongside his considerable administrative duties. He also supervised the monks' preparation for the annual Karma Guncho debate competition among Kagyu monasteries, headed by His Holiness the Karmapa.</p>

                <p>In 2005, he served as the Kagyu lineage representative to the "Madhyamaka View of Nagarjuna Conference" hosted by the Central Institute of Higher Tibetan Studies in Sarnath, India. His widely respected presentation there led to an invitation to serve as guest lecturer at the Institute from 2005 2006 to teach several courses in Indian Buddhist philosophy.</p>

                <p>In 2012, Khenpo-la served as Kyabje Thrangu Rinpoche's assistant during a two-week teaching on Karma Chagme's Mountain Dharma to a large assembly of monks at Namo Buddha, including some of Khenpo-la's own revered teachers. Each evening Khenpo Lobzang reviewed and elaborated on teaching topics Rinpoche had presented that morning. The monastery webcast the teaching for the benefits of students at a distance.</p>

                <p><strong>To the West</strong></p>
                <p>As Kyabje Thrangu Rinpoche began to travel less extensively than he had been accustomed to do, he sought to establish top teachers in the West to care for his students and activities there. To that end, in 2009, Thrangu Rinpoche sent Khenpo Lobzang to augment his English studies at Oxford, England. During this first visit to the west, Khenpo-la also gave teachings at numerous Dharma centers in England and the United States.</p>

                <p>In 2013, Khenpo-la left India to join retreat master Khenpo Jigme of Vajra Vidya Retreat Center in Crestone Colorado, Kyabje Thrangu Rinpoche's seat in the United States. The two Khenpos are currently overseeing Vajra Vidya's inaugural Kagyu tradition three-year retreat. In addition to supervising and teaching the retreatants, he continues his efforts to preserve and spread the precious teachings of the Buddha, giving teachings in English for study groups and Dharma centers throughout the United States, as well as providing private instruction for individual retreatants.</p>

                <p>Both Kyabje Thrangu Rinpoche and His Holiness the Seventeenth Karmapa have frequently acclaimed Khenpo Lobzang's gift for teaching. In a beautiful calligraphy personally executed by His Holiness, he plays on Khenpo-la's name, which means "Doctrine Holder of Excellent Intelligence," writing: "The sun of Excellent Intelligence dispels darkness." Rinpoche likewise praises Khenpo-la's superior qualities, also weaving his name into a verse of aspiration written especially for him:<p>

                <blockquote><p>Through your <em>intelligence</em> free of all attachment<br/>
                And meticulously <em>excellent</em> conduct,<br/>
                May you <em>hold</em> the precious nonsectarian <em>doctrine</em> of the Buddha<br/>
                Without decline, spreading and sustaining it with strength!</p></blockquote>

                <p>Exhibiting his characteristic selfless service and kind heart, Khenpo-la's teaching style is a delightful blend of profound knowledge, good humor, and sensitivity to the needs of individuals. He is a beloved teacher and mentor with a natural ability to guide students in the genuine Dharma.</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5 img-col">
                    <img alt="Khenpo Jigme" src="/images/khenpo_jigme_smiling.jpg" class="img-responsive"/>
                </div>
                <div class="col-md-7">
                    <h3 class="page-header">Khenpo Jigme</h3>
                    <p>Khenpo Jigme was born in the Kingdom of Bhutan in the town of Barshong in 1968.</p>
                    <p>In 1980 he became the first Bhutanese monk of Thrangu Tashi Choling Monastery in Kanglung, Bhutan. At that time he began his monastery education in learning Tibetan studying scriptures and learning Buddhist rituals. In 1983 he came to Thrangu Tashi Choling, the main monastery of Thrangu Rinpoche which is located in Boudhanath, Nepal.  At that time he received full ordination (gelong) from Thrangu Rinpoche. During his time at the monastery he mastered ritual practices and Tibetan grammar.  He entered Namo Buddha Institute for Higher Buddhist Studies at Namo Buddha, Nepal in 1989 and completed the five-year program. In 1994 he entered and completed the traditional three year retreat at the retreat center at Namo Buddha. During this retreat, all the rituals and meditations of the lineage are learned enabling the person who completes it to become a teacher (Lama).</p>
                    <p>As Khenpo Jigme was skilled in both Buddhist philosophy, ritual and meditation, in 1997 Thrangu Rinpoche appointed him as a main teacher for the Namo Buddha Institute and the Vajra Vidya Institute in Sarnath, India and gave him the title of “Khenpo”. This title is given as a master of Buddhist philosophy, similar to a Ph.D. in Theology. Since then, he has been one of the main teachers of the two monastic colleges. He has also taught Buddhist Dharma in Malaysia. In the spring 2005 he has been teachings western students, giving both translated Dharma talks and also helping to teach an intensive program in Tibetan language for westerners.</p>
                    <p>Khenpo Jigme is a retreat master at Vajra Vidya Retreat Center in Crestone, CO, and also teaches students in Colorado, New Mexico and many centers around the U.S.</p>
                </div>
            </div>
        </div>
    </div>
</div>
