{{!< default}}
<div class="container">
    <h1>Our Teachers and Tradition</h1>
    <div class="row">
        <div class="col-md-4 img-col">
            <img alt="Khenchen Thrangu Rinpoche" src="/images/thrangu_rinpoche.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-8">
            <h3>The Venerable Khenchen Thrangu Rinpoche</h3>
            <p>Khenchen Thrangu Rinpoche is the spiritual director of Pikes Peak Vajra Vidya and the teacher of our main teachers.</p>
            <p>Thrangu Rinpoche was born in Kham, Tibet, in 1933. At the age of five, he was formally recognized by His Holiness the Sixteenth Karmapa and Tai Situpa as the ninth incarnation of the great Thrangu tulku. He entered Thrangu monastery, where, from the ages of seven to sixteen, he studied reading, writing, grammar, poetry, and astrology, memorized ritual texts, and completed two preliminary retreats. At sixteen, under the direction of Khenpo Lodro Rabsel, he began the study of the three vehicles of Buddhism while in retreat. At twenty-three he received full ordination from the Karmapa.</p>
            <p>Because of the Chinese military takeover of Tibet, Thrangu Rinpoche, then twenty-seven, was forced to flee to India in 1959. He was called to Rumtek monastery in Sikkim, where the Karmapa has his seat in exile. Because of his great scholarship and unending diligence, he was given the task of preserving the teachings of the Kagyu lineage; the lineage of Marpa, Milarepa, and Gampopa, so that one thousand years of profound Buddhist teachings would not be lost.</p>
            <p>He continued his studies in exile, and at the age of thirty-five he took the geshe examination before 1500 monks at Buxador monastic refugee camp in Bengal and was awarded the degree of Geshe Lharampa. Upon his return to Rumtek, he was awarded the highest Khenchen degree. Because many of the Buddhist texts in Tibet were destroyed, Thrangu Rinpoche helped in beginning the recovery of these texts from Tibetan monasteries outside of Tibet. He was named Abbot of Rumtek monastery and the Nalanda Institute for Higher Buddhist Studies at Rumtek. Thrangu Rinpoche, along with Khenpo Tsultrim Gyamtso Rinpoche, was one of the principal teachers at the Institute, training all the younger tulkus of the lineage. He was also the personal tutor of the four principal Karma Kagyu tulkus: Shamar Rinpoche, Situ Rinpoche, Jamgon Kongtrul Rinpoche, and Gyaltsab Rinpoche.</p>
            <p>Because of his vast knowledge of the Dharma and his skill as a teacher, he was appointed by His Holiness the Dalai Lama to be the personal tutor for His Holiness the Seventeenth Karmapa.</p>
            <p>Rinpoche is especially known for making complex teachings accessible to Western students. Thrangu Rinpoche is a recognized master of Mahamudra meditation.  He has taught in 25 countries, authored over 40 books on Buddhism in English, founded monasteries in India and Nepal for male and female monastics, a school for the education of lay children in Nepal, a medical clinic in Nepal, and retreat centers in Nepal and Colorado (<a href="http://vajravidya.com">Vajra Vidya Retreat Center</a>). In addition to Pikes Peak Vajra Vidya and Thrangu Meditation Center in Denver, he has dharma centers in Hong Kong, Taiwan, Germany, England, Canada, California, Texas, Massachusetts, Rhode Island, Florida and Maine.</p>
            <p>For more on Thrangu Rinpoche's life, activities and teachings, as well as his teaching schedule, please visit <a href="http://www.rinpoche.com">his website</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="img-col">
                <img alt="Khenpo Lobzang Tenzin" src="/images/khenpo_lobzang_tenzin.jpg" class="img-responsive"/>
            </div>
            <div class="">
                <h3>Khenpo Lobzang Tenzin</h3>
                <p>Khenpo Lobzang was the Director of Vajra Vidya Institute and, along with his many administrative responsibilities, he taught shedra classes for the monks, seminar classes for foreign students and was a guest lecturer at Central University of Tibet Studies in Sarnath.</p>
                <p>Khenpo Lobzang's parents moved from Tibet to Bhutan in 1950 where he was born in 1969. They lived near a small monastery which was offered by the 3rd King of Bhutan to His Holiness 16th Karmapa who in turn offered it to Thrangu Rinpoche. As a young child, his school was beside the monastery and, not liking school very much and thinking the monks’ life was better, asked his family if he could be a monk. After much begging and pleading, his mother made him promise that if he became a monk he would stay with it. He entered the monastery at age 9 and much to his surprise studying was much harder in the monastery than in the school.</p>
                <p>At 13 years of age, since Thrangu Rinpoche wanted to start the shedra in Nepal, he moved to Boudhanath monastery and began his studies with Khenpo Nyedon, learning pujas and studying commentaries. He entered the shedra at age 22, completed the 5 year course of study, became an assistant teacher (Khorpon), then Lopon, and in 1996 became a Khenpo.</p>
                <p>He also studied English at Oxford in 2009 and made his first trip to the USA in 2009, when he first visited Vajra Vidya in Crestone. He and Khenpo Jigme have known one another for over thirty years, were in the same monastery from age 13, and went through shedra together.</p>
                <p>Khenpo Lobzang now resides at Vajra Vidya Retreat Center in Crestone, CO, and teaches regularly in Colorado Springs and Denver.</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5 img-col">
                    <img alt="Khenpo Jigme" src="/images/khenpo_jigme_smiling.jpg" class="img-responsive"/>
                </div>
                <div class="col-md-7">
                    <h3>Khenpo Jigme</h3>
                    <p>Khenpo Jigme was born in the Kingdom of Bhutan in the town of Barshong in 1968.</p>
                    <p>In 1980 he became the first Bhutanese monk of Thrangu Tashi Choling Monastery in Kanglung, Bhutan. At that time he began his monastery education in learning Tibetan studying scriptures and learning Buddhist rituals. In 1983 he came to Thrangu Tashi Choling, the main monastery of Thrangu Rinpoche which is located in Boudhanath, Nepal.  At that time he received full ordination (gelong) from Thrangu Rinpoche. During his time at the monastery he mastered ritual practices and Tibetan grammar.  He entered Namo Buddha Institute for Higher Buddhist Studies at Namo Buddha, Nepal in 1989 and completed the five-year program. In 1994 he entered and completed the traditional three year retreat at the retreat center at Namo Buddha. During this retreat, all the rituals and meditations of the lineage are learned enabling the person who completes it to become a teacher (Lama).</p>
                    <p>As Khenpo Jigme was skilled in both Buddhist philosophy, ritual and meditation, in 1997 Thrangu Rinpoche appointed him as a main teacher for the Namo Buddha Institute and the Vajra Vidya Institute in Sarnath, India and gave him the title of “Khenpo”. This title is given as a master of Buddhist philosophy, similar to a Ph.D. in Theology. Since then, he has been one of the main teachers of the two monastic colleges. He has also taught Buddhist Dharma in Malaysia. In the spring 2005 he has been teachings western students, giving both translated Dharma talks and also helping to teach an intensive program in Tibetan language for westerners.</p>
                    <p>Khenpo Jigme is a retreat master at Vajra Vidya Retreat Center in Crestone, CO, and also teaches students in Colorado and New Mexico.</p>
                </div>
            </div>
         </div>
    </div>
</div>
