@base-bg: #fefde6;
@title-font: Papyrus, fantasy;

html {
  height: 100%;
  background: #fdfcfa; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #fdfcfa 0%, #fcf9cf 48%, #fcfbf8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fdfcfa), color-stop(48%,#fcf9cf), color-stop(100%,#fcfbf8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #fdfcfa 0%,#fcf9cf 48%,#fcfbf8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #fdfcfa 0%,#fcf9cf 48%,#fcfbf8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #fdfcfa 0%,#fcf9cf 48%,#fcfbf8 100%); /* IE10+ */
  background: linear-gradient(135deg,  #fdfcfa 0%,#fcf9cf 48%,#fcfbf8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfcfa', endColorstr='#fcfbf8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
  background-color: transparent;
}

.content-container {
  background-color: transparent;
}

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
	color: @gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar-default {
  background-color: #fcfbf8;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: darken(@base-bg, 10%);
}

.navbar-brand {
  font-family: @title-font;
  line-height: 28px;
}

.stupa-background {
  background-color: #66afe9;
  background-image: url('/images/tashi_gomang_stupa_background5.jpg');
  background-repeat: no-repeat;
  background-position: center;
//  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-attachment: scroll;
  }
}

.header-font {
  font-family: @title-font;
  font-style: italic;
  color: #060666 !important;
  text-shadow: 1px 2px 2px #444;
}

.subheader-font {
  font-family: @title-font;
  color: #ffef80;
  text-shadow: 2px 3px 2px #444;
}

.page-header {
  font-family: @title-font;
  border: none;
  margin: 20px 0 10px;
  padding-bottom: 4px;
}

.column-row {
  margin-top: 180px;
}

.homepage-content p {
  padding: 15px;
  margin: 20px 0;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;;
  color: #ffef80;
  background: rgb(124, 152, 169);
  background: rgba(24, 52, 69, .3);
}

.homepage-content a {
  font-size: 18px;
  color: #ffc50e;
}

#footer-row p {
  margin-top: 200px;
  font-size: 18px;
  background: rgb(124, 152, 169);
  background: rgba(15, 19, 31, 0.5);
}

.section {
  background-color: lighten(@base-bg, 2%);
  border: solid 1px #eaeaea;
  padding: 10px 20px;
}

.img-col {
  margin: 10px 0;
}

.border-container {
  background-image: url('/images/eight_auspicious_symbols_border.jpg');
  background-repeat: repeat-y;
}

.border {
  background-image: url('/images/eight_auspicious_symbols_border.jpg');
  background-repeat: repeat;
}

.bordered-content {
  border-style: solid !important;
  border-color: rgba(255, 255, 255, 0.0);
  border-left-width: 75px !important;
  border-right-width: 75px !important;
  border-top-width: 0px !important;
  border-bottom-width: 0px !important;
}

.inner-content {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.8);
}

.media-options-row {
  margin: 10px 0;
}

.media-options-row > div {
  vertical-align: middle;
}

.media-options-row > label {
  vertical-align: middle;
  text-align: right;
}